*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  overflow-x: hidden; 
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section, label {
  display: block; 
}

ul li,
ol li {
  color: #000;
  list-style-type: none;
}

strong {
  font-weight: bolder; 
}

a {
  text-decoration: none;
  background-color: transparent; 
}

a:hover {
  text-decoration: none; 
}

img, video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none; 
}

button {
  border-radius: 0;
  outline: none;
  border: none;
}

button:hover {
  outline: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
  border: none;
  cursor: pointer;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; 
}

button,
input {
  overflow: visible; 
}

button,
select {
  text-transform: none; 
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; 
}

textarea {
  overflow: auto;
  resize: vertical; 
}

@media (max-width: 600) {
  html {
    line-height: 1.3; 
  }
  body {
    font-weight: 300;
    line-height: 1.3; 
  } 
}

@media (max-width: 300) {
  html {
    line-height: 1; 
  }
  body {
    font-weight: 220;
    line-height: 1; 
  } 
}
